    <label>اسم المنتج</label>
      {{# each products }}
      <option en ='{{this.ProductName}}'
      code='{{this.Code}}'
      cc='{{this.CaseCredit}}'
      re='{{this.Price}}'
      nd='{{this.NewDistributer}}'
      as='{{this.AssistantSupervisor}}'
      s='{{this.Supervisor}}'
      am='{{this.AssistantManager}}'
      m='{{this.Manager}}'
      sh='{{this.Shipping}}'>{{this.arNAme}}</option>
      {{/ each }}
    </select>
{{!-- {{commented expressions}} --}}
